body{
    background-color:rgb(26, 13, 2);
    color: whitesmoke;
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color:rgb(95, 57, 8);
    color: whitesmoke;
    font-family: "Rubik", sans-serif;
}

.passo{
    display: none;
}

.passo.ativo{
    display:block;
}

main{
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}




body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(26, 13, 2);
    color: whitesmoke;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
    text-align: center;
}

button {
    background-color:rgb(95, 57, 8);
    color:whitesmoke;
    border: 1px solid whitesmoke;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: gray;
}
